<div class="container">

<%= @needed_part%>

</div>

<div class="container">
<p> Note: Info on this page is directly from
  <a href="https://www.divvybikes.com/about">divvy about page</a>. </p>

</div>