<div>
<h2> DATA! </h2>

<p> Every year, Divvy organizes a <a href="https://www.divvybikes.com/datachallenge">Data Challenge</a>, basically to see
who can make something beautiful and meaningful from their yearly data. The data contains over 3.2 million trips! <br>
The data for each trip includes start time, stop time, trip duration, start station name, end station name, etc..
 </p>

<p> A few things people did.  </p>

<ul>
<li><a href="https://vimeo.com/122351383"> By Matthew Shaxted </a>(3D visualizarion using curves to show hourly trips between stations.)</li>
<li><a href="http://transitized.com/divvy-vs-transit/"> By Shaun Jacobsen</a>(looks at how divvy riders perform when compared to public transport)</li>
<li><a href="http://faculty.washington.edu/mikefree/divvy/"> By Michael Freeman</a>(moving map to visualize divvy trips.)</li>
</ul>

</div>