
<h3 style="text-align:center"><%=@station.name%> </h3>

<div>
<div id="info_getter">
<h4><a href="/stations/<%=@station.id%>/info" id="show_info"> Get Information of current station</a></h4>
</div>

  <div >
    <span id="executionTime"></span> <br><br>
    <span id="location"></span> <br><br>
    <span id="availableDocks"></span> <br><br>
    <span id="totalDocks"></span> <br><br>
    <span id="availableBikes"></span> <br>
  </div>


  <div id="map_shower">
  <h4><a href="/stations/<%=@station.id%>/map" id="show_map"> View map!</a></h4>
  </div>
</div>

<div class="row">
<div class="col-md-3"></div>

<%= erb :"stations/show_map", layout: false %>

<div class="col-md-3"></div>
</div>
