
<h3 style="text-align:center"><%=@station.name%> </h3>

<div id="info_getter">
<a href="/stations/<%=@station.id%>/info" id="show_info"> Get Station Info</a>
</div>

<div id="map_shower">
<a href="/stations/<%=@station.id%>/map" id="show_map"> Show map</a>
</div>


<div class="row">
<div class="col-md-3"></div>

<%= erb :"stations/show_map", layout: false %>

<div class="col-md-3"></div>
</div>
