
  <div>
    <h1>Welcome to the Divvy Explorer!</h1>
    <p>Explore the world(Chicago) on 2 wheels with friends!</p>
  </div>

<div class="row">
  <div class="col s12 m4 image-div">
    <img src ="images/divvy1.jpg" class="home-image">
  </div>

  <div class="col s12 m4 image-div">
    <img src ="images/divvy2.jpeg" class="home-image">
  </div>

  <div class="col s12 m4 image-div">
    <img src ="images/divvy3.jpg" class="home-image">
  </div>
</div>
