<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Divvy Explorer!</h1>
    <p>Explore the world(Chicago) on 2 wheels with friends!</p>
  </div>
</div>

<div class="row container">
  <div class="col-md-4  image-div">
    <img src ="images/divvy1.jpg" class="home-image">
  </div>

  <div class="col-md-4 image-div">
    <img src ="images/divvy2.jpeg" class="home-image">
  </div>

  <div class="col-md-4 image-div">
    <img src ="images/divvy3.jpg" class="home-image">
  </div>
</div>
