<!DOCTYPE html>
<html lang="en">
<head>

  <script src="http://maps.googleapis.com/maps/api/js"></script>

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- <link rel="stylesheet" href="/css/pesticide.css"> -->
  <!--

    application.css is where you put your styles
  -->

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<!-- nav bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand go-home nav-stuff" href="/">Stuff...</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/stations" class="go-home nav-stuff">Stations</a></li>

      </ul>

    </div>
  </div>
</nav>


<div class="main-container">
  <%= yield %>
</div>

</body>
</html>